body {
    background: #0a0a0a;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
}

.logo {
    font-family: "UnifrakturCook";
    font-size: 40px;
    color: red;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

nav ul li .ativo {
    color: red;
}

.container {
    max-width: 900px;
    margin: 40px auto;
}

.carrinho-itens {
    margin-top: 30px;
}

.item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.item-carrinho img {
    width: 90px;
    border-radius: 6px;
}

.item-info h3 {
    margin: 0;
    font-size: 18px;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantidade button {
    background: red;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.btn-remover {
    color: red;
    cursor: pointer;
}

.resumo {
    margin-top: 40px;
    text-align: right;
    font-size: 20px;
}

.btn-finalizar {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: red;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
